In [1]:
import pandas as pd

In [18]:
joindata = pd.read_csv("DatosBrutoCorregidos.csv")

F:\Winpython64-3.8.6.0\WPy64-3860\python-3.8.6.amd64\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (3,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [21]:
joindata = joindata[['PERIODO','MES','DIA','CLASE','BARRIO']]
joindata['FECHA']=pd.to_datetime(joindata['PERIODO']*10000+joindata['MES']*100+joindata['DIA'],format='%Y%m%d')
joindata = joindata[['FECHA','BARRIO','CLASE']]

In [45]:
grupo =  joindata.groupby(['FECHA','BARRIO','CLASE']).agg({'CLASE': ['count']})
grupo.columns  = ['cuentaclase']
grupo  = grupo.reset_index()
grupo.to_excel("datos_procesados.xlsx",index = False)

In [43]:
grupo[grupo['cuentaclase']>8]

            FECHA                  BARRIO   CLASE  cuentaclase
7430   2014-03-25                  caribe  choque            9
11338  2014-05-07                  caribe  choque            9
40065  2015-03-20  terminal de transporte  choque            9
43410  2015-04-28                  caribe  choque            9
47571  2015-06-11           la candelaria  choque            9
56779  2015-09-18                  caribe  choque            9
63921  2015-12-05               guayaquil  choque            9
137535 2018-02-19              campo amor  choque            9
148923 2018-06-27                  caribe  choque            9
159489 2018-10-25           la candelaria  choque            9
163659 2018-12-12                  caribe  choque            9
192936 2019-11-01              campo amor  choque            9

In [30]:
#grouped_multiple = df.groupby(['Team', 'Pos']).agg({'Age': ['mean', 'min', 'max']})
grouped_multiple.columns = ['age_mean', 'age_min', 'age_max']
grouped_multiple = grouped_multiple.reset_index()
print(grouped_multiple)

Empty DataFrame
Columns: []
Index: [(2014-01-01 00:00:00, alejandro echavarria, choque), (2014-01-01 00:00:00, altavista, atropello), (2014-01-01 00:00:00, altos del poblado, choque), (2014-01-01 00:00:00, asomadera no.2, otro), (2014-01-01 00:00:00, aures no.1, atropello), (2014-01-01 00:00:00, aures no.1, otro), (2014-01-01 00:00:00, aures no.2, otro), (2014-01-01 00:00:00, barrio caicedo, choque), (2014-01-01 00:00:00, barrio colon, choque), (2014-01-01 00:00:00, bello horizonte, otro), (2014-01-01 00:00:00, berlin, choque), (2014-01-01 00:00:00, betania, otro), (2014-01-01 00:00:00, brasilia, choque), (2014-01-01 00:00:00, buenos aires, choque), (2014-01-01 00:00:00, cabecera san antonio de prado, caida ocupante), (2014-01-01 00:00:00, cabecera urbana san cristobal, caida ocupante), (2014-01-01 00:00:00, calasanz parte alta, caida ocupante), (2014-01-01 00:00:00, campo amor, choque), (2014-01-01 00:00:00, campo amor, volcamiento), (2014-01-01 00:00:00, campo valdes no.1, otro), (2014-01-01 00:00:00, campo valdes no.2, choque), (2014-01-01 00:00:00, carlos e. restrepo, otro), (2014-01-01 00:00:00, cementerio universal, choque), (2014-01-01 00:00:00, cristo rey, choque), (2014-01-01 00:00:00, doce de octubre no.2, caida ocupante), (2014-01-01 00:00:00, el diamante, otro), (2014-01-01 00:00:00, el pomar, caida ocupante), (2014-01-01 00:00:00, el progreso, choque), (2014-01-01 00:00:00, el raizal, caida ocupante), (2014-01-01 00:00:00, el rincon, atropello), (2014-01-01 00:00:00, estacion villa, choque), (2014-01-01 00:00:00, francisco antonio zea, atropello), (2014-01-01 00:00:00, girardot, choque), (2014-01-01 00:00:00, guayaquil, otro), (2014-01-01 00:00:00, jesus nazareno, atropello), (2014-01-01 00:00:00, kennedy, choque), (2014-01-01 00:00:00, kennedy, otro), (2014-01-01 00:00:00, la candelaria, otro), (2014-01-01 00:00:00, la castellana, otro), (2014-01-01 00:00:00, la esperanza, atropello), (2014-01-01 00:00:00, la hondonada, choque), (2014-01-01 00:00:00, la loma de los bernal, choque), (2014-01-01 00:00:00, la milagrosa, choque), (2014-01-01 00:00:00, la pilarica, choque), (2014-01-01 00:00:00, las brisas, otro), (2014-01-01 00:00:00, las granjas, atropello), (2014-01-01 00:00:00, las mercedes, atropello), (2014-01-01 00:00:00, manrique central no.1, otro), (2014-01-01 00:00:00, manrique central no.2, choque), (2014-01-01 00:00:00, manrique oriental, atropello), (2014-01-01 00:00:00, manrique oriental, choque), (2014-01-01 00:00:00, moscu no.2, atropello), (2014-01-01 00:00:00, popular, atropello), (2014-01-01 00:00:00, prado, choque), (2014-01-01 00:00:00, rosales, choque), (2014-01-01 00:00:00, san benito, choque), (2014-01-01 00:00:00, san benito, otro), (2014-01-01 00:00:00, san isidro, choque), (2014-01-01 00:00:00, san miguel, choque), (2014-01-01 00:00:00, san pablo, atropello), (2014-01-01 00:00:00, san pablo, choque), (2014-01-01 00:00:00, santa ines, choque), (2014-01-01 00:00:00, santo domingo sabio no.1, choque), (2014-01-01 00:00:00, terminal de transporte, otro), (2014-01-01 00:00:00, toscana, choque), (2014-01-01 00:00:00, u.d. atanasio girardot, choque), (2014-01-01 00:00:00, versalles no.1, atropello), (2014-01-01 00:00:00, versalles no.1, choque), (2014-01-01 00:00:00, villa carlota, caida ocupante), (2014-01-01 00:00:00, villa flora, choque), (2014-01-01 00:00:00, villa flora, otro), (2014-01-02 00:00:00, astorga, choque), (2014-01-02 00:00:00, barrio caicedo, choque), (2014-01-02 00:00:00, barrio colon, choque), (2014-01-02 00:00:00, barrio colon, otro), (2014-01-02 00:00:00, barrio cristobal, choque), (2014-01-02 00:00:00, barrio facultad de minas, choque), (2014-01-02 00:00:00, barrio facultad de minas, otro), (2014-01-02 00:00:00, belen, atropello), (2014-01-02 00:00:00, berlin, choque), (2014-01-02 00:00:00, bombona no.2, caida ocupante), (2014-01-02 00:00:00, calle nueva, choque), (2014-01-02 00:00:00, campo amor, choque), (2014-01-02 00:00:00, campo valdes no.1, choque), (2014-01-02 00:00:00, campo valdes no.2, caida ocupante), (2014-01-02 00:00:00, caribe, atropello), (2014-01-02 00:00:00, caribe, choque), (2014-01-02 00:00:00, castilla, otro), (2014-01-02 00:00:00, cataluÃ±a, choque), (2014-01-02 00:00:00, cordoba, choque), (2014-01-02 00:00:00, cristo rey, choque), (2014-01-02 00:00:00, cucaracho, choque), (2014-01-02 00:00:00, doce de octubre no.2, atropello), (2014-01-02 00:00:00, el chagualo, choque), (2014-01-02 00:00:00, el compromiso, choque), (2014-01-02 00:00:00, el poblado, choque), (2014-01-02 00:00:00, el pomar, atropello), (2014-01-02 00:00:00, el progreso, choque), (2014-01-02 00:00:00, el velodromo, choque), (2014-01-02 00:00:00, enciso, choque), ...]

[198897 rows x 0 columns]