In [56]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
import sklearn.svm
from sklearn.model_selection import GridSearchCV
from sklearn.multioutput import MultiOutputRegressor
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.multioutput import MultiOutputRegressor
from sklearn.model_selection import cross_val_score
import numpy as np
from sklearn.ensemble import RandomForestRegressor
import joblib
from sklearn.metrics import r2_score
from matplotlib import pyplot as plt
from sklearn.metrics import mean_squared_error as rmse

In [57]:
cluster = pd.read_excel("clustering.xlsx")
train = pd.read_excel("datatrain.xlsx")
val = pd.read_excel("datatest.xlsx")

In [58]:
cluster=cluster[['BARRIO','cluster']]

In [59]:
cluster=cluster[['BARRIO','cluster']]
nombres=['SEMANA','ESPECIAL','DIA','MES','ANIO','BARRIO','atropello','caida_ocupante','choque','otro','volcamiento','incendio','choque_atropello','CLUSTER']
train=pd.merge(train,cluster, how='left', left_on=['BARRIO'], right_on = ['BARRIO'])
train.columns=nombres

val=pd.merge(val,cluster, how='left', left_on=['BARRIO'], right_on = ['BARRIO'])
val.columns=nombres
val.to_excel("val.xlsx",index = False)
train.to_excel("train.xlsx",index = False)

In [60]:
val

,SEMANA,ESPECIAL,DIA,MES,ANIO,BARRIO,atropello,caida_ocupante,choque,otro,volcamiento,incendio,choque_atropello,CLUSTER
0,209,1,1,1,2018,aranjuez,0,0,1,0,0,0,0,0.0
1,209,1,1,1,2018,area de expansion pajarito,0,0,1,0,0,0,0,0.0
2,209,1,1,1,2018,asomadera no.2,0,0,1,0,0,0,0,0.0
3,209,1,1,1,2018,aures no.1,0,0,1,0,0,0,0,0.0
4,209,1,1,1,2018,belen,0,0,1,0,1,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27301,261,0,31,12,2018,trinidad,0,0,1,0,0,0,0,0.0
27302,261,0,31,12,2018,u.d. atanasio girardot,0,0,1,0,0,0,0,0.0
27303,261,0,31,12,2018,universidad nacional,0,0,1,0,0,0,0,2.0
27304,261,0,31,12,2018,villa flora,0,0,1,0,0,0,0,1.0
27305,261,0,31,12,2018,villa niza,1,0,0,0,0,0,0,0.0